<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" media="all" type="text/css"
  href="{{cssurl}}"/>
  <title> NASA Image Search Results </title>
</head>
<body>
  <div id="container">
    <!--Using jinja2 to display the media links of the images-->
    <h3> You searched for {{searchQuery}}. Below are the results: </h3>
    {%for row in range(rows)%}
    <div class="row">
      <!--3 was the chosen number of images per row-->
      {%for link in range(0,row*3)%}
      <div class="column">
          <div class="thumbnail">
          <img src={{mediaLinks[link]}}>
          </div>
      </div>
      {%endfor%}
    </div>
    {%endfor%}
</body>
</html>
