<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="js/scripts.js"> </script>
  <title> NASA Image API </title>
</head>
<body>
  <div id="container">
    <h3> Welcome to NASA's (Simplified) Image Search! </h3>
    <!--Post makes the submission more secure-->
    <form method="post">
      <input type="text" value="" name="searchbox" id="searchquery"
      placeholder="Enter your search query"
      maxwidth=200 required> <br/>
      <input type="submit">
    </form>
  </div>
</body>
</html>
